	.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar info"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  padding: 5px;
}
.container div {
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.sidebar {
  grid-area: sidebar;
  padding-left: 0;
}
.container div.info {
  grid-area: info;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}
div {
  border: 5px solid #188FA7;
}

body {
  background-color: #FFFFFF;
}

h1, h2 {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #EF959D;
}

h3, h4 {

  font-family: "Risque", serif;
  font-weight: 400;
  font-style: normal;
  color: #69585F;
}


.StitchesContainer {

display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: center;
}

.StitchesContainer div {
  max-width:90%;
  margin: 0 auto;
  padding: 10px;
  border: 5px solid #769FB6;
}

.HowToContainer {
  justify-items: center;
  align-items: center;
}





